.social-icons{
	text-align: center;
	
	&__icon{
		background-color: $mainOrange;
		display: inline-block;
		height: 72px;
		width: 33%;
		position: relative;
		margin: 0 5px;
		
		@mixin atSmall{
			width: 72px;
		}
		.icon{
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}